send: mqtt
prefix: netmeter.hostname   # Prefix is the metric name prefix, usually node-specific
delay: 30                       # Speedtest / fping will loop forever with this delay

# If you're configuring a fping reporter, you'll need this section
fping: 
    targets: 
    - 8.8.8.8
    - a.rtmp.youtube.com


# If you're reporting metrics over a MQTT bus, you need this
mqtt:
    host: iot.example.org
    port: 1883
    topic: netmeter
#    user: blah
#    password: blah

